<div class="footer">
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				&copy; 2015 Aliwebapp. All Rights Reserved
			</div>
		</div>
	</div>
</div>
</div>