/* 
 * My97 DatePicker 4.7
 */
.WdateDiv{
	width:212px;
	*width:214px;
	_width:214px;
	background-color:#FFFFFF;
	border:#bbb 1px solid;
	padding:0px;
	clear: both;
	overflow: hidden;
	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3) inset;
}

.WdateDiv2{
	width:428px;
}
.WdateDiv *{font-size:9pt;font-family: "宋体";border:none;}

.WdateDiv .NavImg a{
	display:block;
	cursor:pointer;
	height:16px;
	width:16px;
	margin-top:3px;
}

.WdateDiv .NavImgll a{
	float:left;
	background:transparent url(img.gif?v=000) no-repeat scroll 0 0;
}
.WdateDiv .NavImgl a{
	float:left;
	background:transparent url(img.gif?v=000) no-repeat scroll -16px 0;
}
.WdateDiv .NavImgr a{
	float:right;
	background:transparent url(img.gif?v=000) no-repeat scroll -32px 0;
}
.WdateDiv .NavImgrr a{
	float:right;
	background:transparent url(img.gif?v=000) no-repeat scroll -48px 0;
}

.WdateDiv #dpTitle{
	height:24px;
	margin-bottom:0px;
	padding:0px;
	position: relative;
	z-index: 2;
	width:100%;
	clear: both;
	margin-bottom:3px\9;
}

.WdateDiv #dpTitle .float,.WdateDiv #dpTitle .left{
	width:auto !important;
}

.WdateDiv #dpTitle .navImg{display:none;}

.WdateDiv #dpTitle .float{
	float:right !important;
	margin-right:2px;
	*margin-right:1px;
}
.WdateDiv #dpTitle .left{
	float:left !important;
	margin-left:2px;
	*margin-left:1px;
}
.WdateDiv #dpTitle input{font-size:10pt;}
.WdateDiv .yminput,.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	height:20px;
	border:1px solid #CCCCCC;
	width:100px;
	*width:99px;
	cursor:pointer;
	background:url(default.png) right 7px no-repeat;
	clear: both;
}

.WdateDiv .menuSel{
	z-index:10;
	position:absolute;
	background-color:#FFFFFF;	
	border:#ccc 1px solid;
	display:none;
	width:98px;
}
.WdateDiv #dpTitle .float .menu,.WdateDiv #dpTitle .float .menuOn,.WdateDiv #dpTitle .left .menuOn,.WdateDiv #dpTitle .left .menu{
	width:43px;
}
.WdateDiv .menu{background-color:#fff;}
.WdateDiv .menu,.WdateDiv .menuOn{
	width:16px;
	height:20px;
	cursor:pointer;
	text-align:center;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .YMenu{
	top:20px;
	*top:21px;
}

.WdateDiv .MMenu{
	margin-top:21px;
}

.WdateDiv .hhMenu{
	margin-top:-81px;
	*margin-top:-80px;
	left:35px;
	_left:36px;
	*left:34px;
	width:132px;
}

.WdateDiv .mmMenu{
	margin-top:-41px;
	*margin-top:-40px;
	left:0;
	_left:3px;
	*left:1px;
	width:132px;
}

.WdateDiv .ssMenu{
	margin-top:-21px; 
	*margin-top:-20px;
	left:53px;
	_left:56px;
	*left:54px;
	width:132px;
}

 .WdateDiv .Wweek {
 	text-align:center;
	background:#eee;
	border-right:#EB6120 1px solid;
 }

.WdateDiv .MTitle{
	background-color:#eb6120;
	color:#fff;
	height:26px;
}
.WdateDiv .MTitle div{margin:0 6px;}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	height:140px;
}
.WdateDiv .WdayTable2 table{
	border:0;
}
.WdateDiv .WdayTable2 .WdayTable{border:#ccc 1px solid;}
.WdateDiv .WdayTable{
	line-height:20px;
	border:#ccc 1px solid;
	width:208px;
	margin:0 2px;
	clear: both;
	overflow: hidden;
	padding:0px;
	box-shadow:0 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.2);
	height:140px;
}
.WdateDiv .WdayTable td{
	text-align:center;
	height:22px;
}

.WdateDiv .Wday{
	cursor:pointer;
}

.WdateDiv .Wwday{
	cursor:pointer;
	color:#eb6120;
}

.WdateDiv .Wtoday{
	cursor:pointer;
	color:blue;
}
.WdateDiv .Wselday{
	cursor:pointer;
	background-color:#EB6120;
	color:#fff;
}
.WdateDiv .WdayOn,.WdateDiv .WotherDayOn,.WdateDiv .WwdayOn,.WdateDiv .menuOn{
	background-color:#f99769;
	cursor:pointer;
	color:#fff;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}

.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:gray;	
}

.WdateDiv .WinvalidDay{
	color:#aaa;
}

.WdateDiv #dpTime{
	float:left;
	margin-top:5px;
	margin-left:2px;
	width:210px;
	height:24px;
}
#dpControl{margin-left:2px;margin-top:3px;height:22px;float:right;}

.WdateDiv #dpTime #dpTimeStr{
	margin-left:2px;
}
.WdateDiv table,.WdateDiv tr,.WdateDiv tbody,.WdateDiv td{position: static !important;}
.WdateDiv table{display: table !important;}
.WdateDiv .WdayTable tr{display: table-row !important;}
.WdateDiv .WdayTable td{display: table-cell !important;height:22px !important;width:auto !important;}
.WdateDiv #dpTime input{
	width:18px;
	height:20px;
	text-align:center;
	border:#ccc 1px solid;	
}

.WdateDiv #dpTime .tB,.WdateDiv #dpTime .tE{
	/*border-right:0px;*/
	padding:3px 9px 1px 1px;
	width:46px;
	background:url(default.png?v=000) right 7px no-repeat;
}


.WdateDiv #dpTime .tm{
	width:7px;
	border:0;
}

.WdateDiv #dpTime #dpTimeUp,.WdateDiv #dpTime #dpTimeDown{
	display:none;
}

 .WdateDiv #dpQS {
 	float:left;
	margin:5px 5px 2px;
	background:url(img.gif?v=000) no-repeat 0px -16px;
	width:20px;
	height:20px;
	cursor:pointer;
 }
.WdateDiv #dpQS{display:none;}
 
.WdateDiv #dpControl {
	text-align:right;	
}
.WdateDiv .dpButton{ 
	height:20px;
	width:45px;
	border:#ccc 1px solid;
	margin-top:0px;
	margin-right:2px;
	margin-left:1px;
	cursor: pointer;
}